<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
RewriteCond %{HTTP_HOST} ^v-ecology.com [NC]
RewriteRule ^(.*)$ http://www.v-ecology.com/$1 [L,R=301]
</IfModule>


